<section>
  <p-card header="/dev">
    <div class="card-action-list">
      <p-button [routerLink]="['/game']">Игра</p-button>
    </div>
  </p-card>

  <p-card header="Игра">
    <div class="card-action-list">
      <p-button disabled>Начать классическую игру 1x1</p-button>
      <p-button disabled>Начать классическую игру 1x1x1x1</p-button>
    </div>
  </p-card>

  <p-card header="Конструктор">
    <div class="card-action-list">
      <p-button disabled>Создать фигуру</p-button>
      <p-button disabled>Создать правило хода</p-button>
      <p-button disabled>Создать доску</p-button>
    </div>
  </p-card>
</section>
