<section>
  <h1>Песочница</h1>

  <div class="subject">
    <div class="board">
      @for (square of board; track square.x) {
        <div
          class="square"


          pDroppable
          (onDrop)="drop(square.x)"
        >
          @if (square.piece) {
            <div
              class="piece"
              pDraggable
              (onDragStart)="square.piece ? dragStart(square.piece, square.x) : ''"
              (onDragEnd)="square.piece ? dragEnd()  : ''"
            ></div>
<!--            <img-->
<!--              src="/assets/img/pieces/Chess_bdt60.png"-->
<!--              pDraggable-->
<!--              (onDragStart)="square.piece ? dragStart(square.piece, square.x) : ''"-->
<!--              (onDragEnd)="square.piece ? dragEnd()  : ''"-->
<!--            >-->
          }

        </div>
      }
    </div>
  </div>

  <div
    class="aboba"
    pDroppable
    (onDrop)="drop(1)"
  >
sss
  </div>

</section>
