.square {
  width: 100%;
  height: 100%;
  position: relative;
  aspect-ratio: 1 / 1;

  &__state {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


    img.piece {
      width: 70%;
    }
  }


  ._info {
    position: absolute;
    display: flex;
    flex-direction: column;
    font-size: 10px;
    white-space: nowrap;

    span {
      color: black;
    }
  }
}
