<div class="board">
  <div class="board__cell"></div>
  <div class="board__cell"></div>
  <div class="board__cell"></div>
  <div class="board__cell"></div>
  <div class="board__cell"></div>
  <div class="board__cell"></div>
  <div class="board__cell"></div>
  <div class="board__cell"></div>
  <div class="board__cell"></div>
  <div class="board__cell"></div>
  <div class="board__cell"></div>
  <div class="board__cell"></div>
  <div class="board__cell"></div>
  <div class="board__cell"></div>
  <div class="board__cell"></div>
  <div class="board__cell"></div>
  <div class="board__cell"></div>
  <div class="board__cell"></div>
  <div class="board__cell"></div>
  <div class="board__cell"></div>
  <div class="board__cell"></div>
  <div class="board__cell"></div>
  <div class="board__cell"></div>
  <div class="board__cell"></div>
  <div class="board__cell"></div>
  <div class="board__cell"></div>
  <div class="board__cell"></div>
  <div class="board__cell"></div>
  <div class="board__cell"></div>
  <div class="board__cell"></div>
  <div class="board__cell"></div>
  <div class="board__cell"></div>
  <div class="board__cell"></div>
  <div class="board__cell"></div>
  <div class="board__cell"></div>
  <div class="board__cell"></div>
  <div class="board__cell"></div>
  <div class="board__cell"></div>
  <div class="board__cell"></div>
  <div class="board__cell"></div>
  <div class="board__cell"></div>
  <div class="board__cell"></div>
  <div class="board__cell"></div>
  <div class="board__cell"></div>
  <div class="board__cell"></div>
  <div class="board__cell"></div>
  <div class="board__cell"></div>
  <div class="board__cell"></div>
  <div class="board__cell"></div>
  <div class="board__cell"></div>
  <div class="board__cell"></div>
  <div class="board__cell"></div>
  <div class="board__cell"></div>
  <div class="board__cell"></div>
  <div class="board__cell"></div>
  <div class="board__cell"></div>
  <div class="board__cell"></div>
  <div class="board__cell"></div>
  <div class="board__cell"></div>
  <div class="board__cell"></div>
  <div class="board__cell"></div>
  <div class="board__cell"></div>
  <div class="board__cell"></div>
  <div class="board__cell"></div>
</div>

